div(ng-hide="pages.page1")
	div.well
		h3 Select a Chart Type
		button(ng-repeat="myImg in chartImages",
			ng-class="{'btn': true}")
div(ng-hide="pages.page2")
	h3.center-block
		| Select Data Source
	div(style="width:50%; float:left")
		div.left-inner-addon
			i.fa.fa-search
			input.form-control(type="text",
				ng-model="search.title",
				placehodler="Search Data Sources")
		ul.list-group(style="height:200px; overflow-y:auto")
			a(ng-repeat="ds in dataSources | filter:search:strict",
				ng-click="selectSource(ds)",
				ng-class="{'list-group-item': true,\
				'active': ds.active,\
				'list-group-item-success': ds.type == 1,\
				'list-group-item-info': ds.type == 2,\
				'list-group-item-warning': ds.type == 3}")
				| {{ds.title}}
				span.pull-right
				i(ng-class="{'fa fa-lg': true,\
					'fa-file-excel-o': ds.type == 1,\
					'fa-database': ds.type == 2,\
					'fa-code': ds.type == 3}")
				i.fa.fa-lg.fa-share-alt
	div.well(style="float:right; width:50%")
		| Name {{dsSelected.title}}
		br
		| Uploaded On: {{dsSelected.updated | date: medium}}
		br
		| Uploaded By: {{dsSelected.createdBy}}
		br
		| Row Count: {{dsSelected.rowCount}}
		br
		| Column Count: {{dsSelected.columns.length}}
	div(style="height:240px")

div.modal-footer
	button(ng-class="{'btn btn-lg btn-primary pull-left': true, 'disabled': pages.page1}",
		ng-click="back()")
		i.fa.fa-chevron-left
		| Back
	button.btn.btn-lg.btn-warning.pull-left(ng-click="cancel()")
		| Cancel
	button(ng-show="pages.page1",
		ng-class="{'btn btn-lg btn-primary': true, 'disabled': !dsSelected}",
		ng-click="next()")
	button(ng-show="pages.page2",
		ng-class="{'btn btn-lg btn-primary': true, 'disabled': !typeSelected}",
		ng-click="addWidgetFinish()")
		| Add Widget