span
	select(ng-model="collections.selected",
		ng-options="coll.name for coll in collections.list")
	ul.nav.nav-tabs(ui-sortable="tabSortOptions",
		ng-model="pages.list",
		role="tablist")
		li(ng-class="{'active': page.active}",
			ng-repeat="page in pages.list")
			a(ng-click="pageSwitch(page)",
				href="#")
				| {{page.name}}
				button.close(stop-event="click",
					ng-click="pageRemove(page)",
					type="button")
					span(aria-hidden="true")
						| &times;
					span.sr-only
						| Close
		li
			a(ng-hide="sortingPages",
				ng-click="addPageModal()")
				span.glyphicon.glyphicon-plus
	div(style="padding:7px")
		span
			button.btn.btn-success(type="button",
				ng-click="contentAddModal()")
				| Add Chart 
				i.fa.fa-plus-square
		span.pull-right
			div.btn-group(role="group",
				aria-label="")
				button.btn.btn-default(type="button",
					ng-click="changeColumnCount(1)")
					| 1
				button.btn.btn-default(type="button",
					ng-click="changeColumnCount(2)")
					| 2
				button.btn.btn-default(type="button",
					ng-click="changeColumnCount(3)")
					| 3
				button.btn.btn-default(type="button",
					ng-click="changeColumnCount(4)")
					| 4
			button.btn.btn-default(ng-click="pageConfigModal()")
				i.fa.fa-share-alt.fa-lg
			button.btn.btn-default(ng-click="sourceConfigModal()")
				i.fa.fa-cog.fa-lg
	ul.widget-container.pull-left(ui-sortable="widgetSortOptions",
		ng-repeat="widgetColumn in widgets.list",
		ng-model="widgetColumn",
		style="list-style-type: none; padding: 0px; width: {{100/widgets.list.length}}%")
		li(ng-repeat="w in widgetColumn",
			widget="w")